<nav class="uk-navbar-container uk-margin" uk-navbar id="navbar">
    <div class="uk-navbar-center">
        {{!-- <img src="/public/img/IMG_3188.JPG"> --}}
        <a class="uk-navbar-item uk-logo" href="/"
            style="font-family: 'Delius Unicase', cursive; color:white">Maestro</a>
        <img src="https://i.imgur.com/b4OGdPV.png" height="100" width="75">
    </div>
</nav>

<div class="uk-card uk-card-default uk-card-body uk-width-1-2@m" id="currentInformation" style="margin:auto">
    <h3 class="uk-card-title">Account Information</h3>
    {{!-- {{log educator.dataValues}} --}}
    <img src="https://cdn4.iconfinder.com/data/icons/basic-user-interface-2/512/User_Interface-10-512.png"
        alt="sample user picture" height="100" width="100">
    <p>First Name: {{educator.dataValues.first_name}}</p>
    <p>Last Name:{{educator.dataValues.last_name}} </p>
    <p>Email: {{educator.dataValues.email}}</p>
    <p>Bio: {{educator.dataValues.bio}}</p>
    {{!-- <p>Subject: {{educator.dataValues.subject}}</p>
    <p>Specialty: {{educator.dataValues.SpecialityId}}</p> --}}

    <button class="uk-button uk-button-default" id="updateButton" type="button">Account Settings</button>
</div>



<div class="uk-card uk-card-default uk-card-body uk-width-1-2@m" id="updateInformation">
    <h3 class="uk-card-title">Update Information</h3>
    <form>
        <fieldset class="uk-fieldset">

            {{!-- <legend class="uk-legend">Legend</legend> --}}

            <div class="uk-margin">
                First Name
                <input class="uk-input" type="text" id="updateFirstNameInput"
                    placeholder={{educator.dataValues.first_name}}>
            </div>
            <div class="uk-margin">
                Last Name
                <input class="uk-input" type="text" id="updateLastNameInput"
                    placeholder={{educator.dataValues.last_name}}>
            </div>
            <div class="uk-margin">
                Bio
                <br>
                <textarea class="uk-textarea" rows="5" cols="50"
                    id="updateBioInput">{{educator.dataValues.bio}}</textarea>
            </div>
            <button class="uk-button uk-button-primary" id="saveButton" type="submit"
                data-edid={{educator.dataValues.id}}>Save</button>
        </fieldset>
    </form>
    <br>
    <button class="uk-button-small uk-button-danger" id="deleteButton" type="submit"
        data-edid={{educator.dataValues.id}}>Delete Account</button>
</div>